<div class="form-container">
  <aside class="sidebar">
    <ul class="steps">
      <li [class.active]="currentStep === 1">Member Details</li>
      <li [class.active]="currentStep === 2">Spouse Details</li>
      <li [class.active]="currentStep === 3">Employment Details</li>
      <li [class.active]="currentStep === 4">Banking Details</li>
      <li [class.active]="currentStep === 5">Packages</li>
      <li [class.active]="currentStep === 6">Quote</li>
      <li [class.active]="currentStep === 7">Completed</li>
    </ul>
  </aside>

  <form class="form-content" [formGroup]="personalInfoForm">
    <!-- Step 1: Personal Info -->
    <div *ngIf="currentStep === 1">
      <app-member-details [memberForm]="personalInfoForm"></app-member-details>
    </div>
   
    <div *ngIf="currentStep === 2">
      <app-spouse-details [formGroup]="personalInfoForm"></app-spouse-details>
    </div>

    <div *ngIf="currentStep === 3">
      <app-employment-details [formGroup]="personalInfoForm"></app-employment-details>
    </div>
    <div *ngIf="currentStep === 4">
      <app-banking-details [formGroup]="personalInfoForm"></app-banking-details>
    </div>
    <div *ngIf="currentStep === 5">
      <app-submit-documents [personalInfoForm]="personalInfoForm"></app-submit-documents>
    </div>

 <!-- Step 6: Submit Documents -->
<div *ngIf="currentStep === 6">
  <!-- <app-submit-documents [tableRows]="tableRows" (selectRow)="selectRow($event)"></app-submit-documents> -->
</div>

    
    
    <!-- Additional Steps Placeholder -->
    <!-- Repeat similar structure for Steps 3 to 8 -->

    <!-- Form Navigation -->
    <div class="form-navigation">
      <button (click)="previousStep()" [disabled]="currentStep === 1">Previous</button>
      <button (click)="nextStep()" [disabled]="currentStep === totalSteps">Next</button>
    </div>
  </form>
  </div>

