<h2>Employment Details</h2>
<form>
  <div class="form-row ">
    <label>Occupation:</label>
    <input type="text" formControlName="occupation" />
  </div>
  <div class="form-row">
    <label>Employee:</label>
    <input type="text" formControlName="employee" />
  </div>

  <div class="form-row">
    <label>Employee Address 1</label>
    <input type="text" formControlName="employeeAddress" />
  </div>
  <div class="form-row">
    <label>Employee Address 2</label>
    <input type="text" formControlName="employeeAddress" />
  </div>

  <div class="form-row">
    <label>Suburb</label>
    <input type="text" formControlName="idNumber" />
  </div>
  <div class="form-row">
    <label>Postal Code</label>
    <input type="text" formControlName="grossSalary" />
  </div>

  <div class="form-row">
    <label>Gross Salary</label>
    <input type="text" formControlName="grossSalary" />
  </div>
  <div class="form-row">
    <label>Salary Type</label>
    <select formControlName="gender">
      <option value="Male">Daily</option>
      <option value="Female">Weekly</option>
      <option value="Other">Monthly</option>
    </select>
  </div>

  <div class="form-row">
    <label>Salary Date</label>
    <input type="tel" formControlName="contactNumber" />
  </div>

</form>
<h2>Spouse Employment Details</h2>
<form>
  <div class="form-row ">
    <label>Occupation:</label>
    <input type="text" formControlName="occupation" />
  </div>
  <div class="form-row">
    <label>Employee:</label>
    <input type="text" formControlName="employee" />
  </div>

  <div class="form-row">
    <label>Employee Address 1</label>
    <input type="text" formControlName="employeeAddress" />
  </div>
  <div class="form-row">
    <label>Employee Address 2</label>
    <input type="text" formControlName="employeeAddress" />
  </div>

  <div class="form-row">
    <label>Suburb</label>
    <input type="text" formControlName="idNumber" />
  </div>
  <div class="form-row">
    <label>Postal Code</label>
    <input type="text" formControlName="grossSalary" />
  </div>

  <div class="form-row">
    <label>Gross Salary</label>
    <input type="text" formControlName="grossSalary" />
  </div>
  <div class="form-row">
    <label>Salary Type</label>
    <select formControlName="gender">
      <option value="Male">Daily</option>
      <option value="Female">Weekly</option>
      <option value="Other">Monthly</option>
    </select>
  </div>

  <div class="form-row">
    <label>Salary Date</label>
    <input type="tel" formControlName="contactNumber" />
  </div>

</form>