<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-mdetails *ngIf="step === 1" [memberForm]="memberForm"></app-mdetails>
    <app-sdetails *ngIf="step === 2" [spouseForm]="spouseForm" [memberForm]="memberForm"></app-sdetails>
  
    <div class="button-group">
      <button type="button" (click)="previousStep()" *ngIf="step > 1">Back</button>
      <button type="button" (click)="nextStep()" *ngIf="step < 2">Next</button>
      <button type="submit" *ngIf="step === 2">Submit</button>
    </div>
  </form>
  